{% extends "index.html" %}

{% block content %}
<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>Previsao do tempo</h2>
        <div class="clearfix"></div>
      </div>
      <div class="x_content text-center">
        <script type="text/javascript" src="https://www.windfinder.com/widget/forecast/js/caldelas?unit_wave=m&unit_rain=mm&unit_temperature=c&unit_wind=kmh&columns=3&days=4&show_day=0&show_waves=0"></script></noscript>
      </div>
    </div>
</div>

{% endblock %}

{% block page_scripts %}


{% endblock %}